body{
    margin: 0;
}

.background {
    background: linear-gradient(rgba(47,117,179,0.75), rgba(47,117,179,0.75)), url(../img/iron-glory-background.jpg);
    background-size: cover;
    /*background: url(../img/iron-glory-background.jpg);*/
    padding: 300px;
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-position: center;
    
}

img {
    width: 100%;

}