.navbar {
    background: silver;
    border-radius: 0;
    color: white;
    padding: 10px; 
}

.footer {
    background: gray;
    border-radius: 0;
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}
 a {
     color: white;
 }

 .glyphicon {
     color: white; 
 }

 img {
     width: 100%
 }

#searchButton {
     background: goldenrod;
     border: none;
     margin-left: 5px;
 }