.navbar {
    background: gray;
    border-radius: 0;
    color: white;
    padding-top: 20px; 
}

.footer {
    background: gray;
    border-radius: 0;
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}
 a {
     color: white;
     font-size: 20px;
     padding-right: 10px;
 }

 a:hover,
 a:active {
     color: goldenrod;
     text-decoration: none;
 }

 .glyphicon {
     color: white; 
     font-size: 20px;
     margin-right: 20px;
 }

 .glyphicon:hover {
     color: goldenrod;
     font-size: 25px;
 }

 img {
     width: 100%
 }

#searchButton {
     background: goldenrod;
     border: none;
     margin-left: 5px;
 }